@import '../../../../../shared/utils/constants.scss';

.sort-buttons {
  display: flex;
  align-items: center;

  .text-color-blue {
    color: $ITEM_COLOR_LIGHT_BLUE;
    padding: 10px;

    &:hover {
      color: $ITEM_COLOR_GREY;
    }
  }

  .text-color-gray {
    color: $TEXT_COLOR_DARK_GREY;
  }
}
