<div class="login-container">
  <div class="login-box" [formGroup]="loginForm">
    <h2>Login</h2>      
      <div class="form-group">
        <label for="login">login</label>
        <input
          type="text"
          id="login"
          formControlName="login"
          [ngClass]="{'invalid-input': !loginForm.controls.login.valid && loginForm.controls.login.touched}"
        />
        @if(!loginForm.controls.login.valid && loginForm.controls.login.touched){
           @if(loginForm.controls.login.hasError('required')) {
              <small class="error">Please enter a login email.</small>
            }
           @else if(loginForm.controls.login.hasError('email')) {
              <small class="error">The login email is invalid.</small>
            }
           @else{
              <small class="error">Please check input login.</small>
            }
        }
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          [ngClass]="{'invalid-input': !loginForm.controls.password.valid && loginForm.controls.password.touched}"
        />   
        @if(!loginForm.controls.password.valid && loginForm.controls.password.touched){
          @if(loginForm.controls.password.hasError('required')) {
            <small class="error"> Please enter a password.</small>
          }
         @else if(loginForm.controls.password.hasError('strong')){
            <small class="error">
              Your password isn't strong enough.</small>
          }
         @else{
          <small class="error">Check input password</small>
          }
          <small> 
            <ul>
              <li>At least 8 characters in length</li>
              and should contain:
              <li>Lower-case letters (a-z)</li>
              <li>Upper-case letters (A-Z)</li>
              <li>Numbers (0-9)</li>
              <li>Special characters !&#64;#?+_</li>
            </ul>
          </small>
        }
      </div> 
      <div class="login-button-wrapper">
      <app-custom-button (click)="onSubmit()" [disabled]="!loginForm.valid" width="124" type="submit">
        Login
      </app-custom-button>
    </div>     
  </div>
</div>
