@import '../../../shared/utils/constants.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $MAIN_BACKGROUND_COLOR_GREY;
  padding: 10px;
  height: 80px;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .login-info {
    position: absolute;
    right: 20px;
    margin-right: 5px;

    @media (min-width: 576px) {
      right: 25px;
    }
  
    @media (min-width: 768px) {
      right: 30px;
    }
  
    @media (min-width: 992px) {
      right: 35px;
    }
  
    @media (min-width: 1200px) {
      right: 40px;
    }
  }
}

.additional-filters {
  display: flex;
  justify-content: center;
  background-color: $MAIN_BACKGROUND_COLOR_GREY;
  height: 80px;
}
