<div class="login-info">
  @if (isUserAuthenticated) {
    @if (isAdmin) {
      <app-add-item-button (click)="onCreatePage()"></app-add-item-button>
    }
    <app-favorite-button
      (click)="onFavoritePage()"
      [favoriteCount]="favoriteCount()"
    ></app-favorite-button>
    <img src="assets/user-icon.png" alt="User Icon" />
    <span class="user-name">{{ login }}</span>
    <app-custom-button (click)="logout()">
      <img
        src="assets/signout.png"
        style="height: 15px; width: 15px"
        alt="Favorite"
      />
    </app-custom-button>
  } @else {
    <app-custom-button (click)="navigateToLogin()"> SingIn </app-custom-button>
  }
</div>
