.login-info {
  display: flex;
  align-items: center;

  .user-name {
    margin-right: 10px;
    font-size: 12px;
    color: #4F4F4F;
  }

  img {
    height: 24px;
    width: 24px;   
  }

  &:hover {
    font-weight: 700;
    img {
    opacity: 0.8;
    }
  }
}
