@import '../../../shared/utils/constants.scss';

.center-content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;

    .not-found-message {
      display: flex;
      align-items: center;
      position: center;
      color: $TEXT_COLOR_DARK_GREY;
      font-size: 2rem;
      font-weight: bold; 
  
      img {
        height: 100px;
        margin-right: 10px;
      }
  
      p {
        margin: 0;
      }
    }
  }
  