@import '../../../shared/utils/constants.scss';

$ITEM_OPACITY: 0.7;

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: $ITEM_COLOR_LIGHT_BLUE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $ITEM_COLOR_LIGHT_BLUE_HOVER;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}

:host-context(.search-button) button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

:host-context(.back-button) button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

:host-context(.red-button) button {
  background-color: $ITEM_COLOR_RED;
  &:hover {
    opacity: $ITEM_OPACITY;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}

:host-context(.yellow-button) button {
  background-color: $ITEM_COLOR_YELLOW;
  &:hover {
    opacity: $ITEM_OPACITY;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}

:host-context(.green-button) button {
  background-color: $ITEM_COLOR_GREEN;
  &:hover {
    opacity: $ITEM_OPACITY;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}

:host-context(.blue-button) button {
  background-color: $ITEM_COLOR_BLUE;
  &:hover {
    opacity: $ITEM_OPACITY;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}

:host-context(.grey-button) button {
  background-color: $MAIN_BACKGROUND_COLOR_GREY;
  &:hover {
    opacity: $ITEM_OPACITY;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}

:host-context(.white-button) button {
  background-color: $ITEM_COLOR_WHITE;
  border-radius: 50%;
 
  &:hover {
    opacity: $ITEM_OPACITY;
  }
  &:disabled {
    background-color: $ITEM_COLOR_GREY;
    cursor: not-allowed;
  }
}
